html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  text-align: center;
}

.title {
  margin: 5px 0px 10px;
  font-weight: bolder;
  font-size: x-large;
}

.subtitle {
  margin: 5px 0px 5px;
  font-weight: bold;
  font-size: larger;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}
